
<!-- About 1 -->
<section id="about">

    <!-- About right side with diagonal BG parallax -->
    <div class="about-bg-diagonal bg-parallax-2 bg-attach-mobile about-text-btn-center">
  	            <div class="home-btn animated zoomIn about-text-btn" style="display: none;">
                    <a class="btn btn-lg btn-general btn-white" href="/collections/all" role="button" title="View Our Work">SHOP NOW</a>
                </div>
  </div>

    <!-- About left side with content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content-box">
                    <div class="about-content-box-outer">
                        <div class="about-content-box-inner">
<!--                            <div class="content-title animated wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">-->
<!--                                <h3>About Vesco</h3>-->
<!--                                <div class="content-title-underline"></div>-->
<!--                            </div>-->

                            <div class="row justify-content-center mb-3 pb-3">
                                <div class="col-md-12 heading-section text-center animated wow fadeInDown">
                                    <h1 class="big-3">MISSION</h1>
                                    <h2 class="inner-text-1">Redline</h2>
                                </div>
                            </div>

                            <div class="about-desc animated wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s" style="text-align: center;">
                              <p>Redlining is the systematic denial of various services to residents of specific neighborhoods or communities.</p>
                              <p>The practice of redlining actively helped to create what is now known as the Racial Wealth Gap</p>
                              <p>Our brand is dedicated to redefining redlining</p>
                               <p>Keep your look fresh with our latest clothing and accessories</p>
                            </div>

                            <div class="about-btn animated wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="text-align: center;">
                                <a class="btn btn-lg btn-general btn-blk" href="/collections/all" role="button"> Full Store</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of About -->

{% schema %}
  {
    "name": "About Section",
    "settings": [],
	"presets": [
      {
        "category": "About Section",
        "name": "About Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
