<!-- Home -->
<section id="home" class="darken">
    <div class="home-cover bg-parallax bg-attach-mobile animated fadeIn">
        <div class="home-content-box">
            <div class="home-content-box-inner text-center">
                <div class="home-heading animated zoomIn">
                    <h3>Redline</h3>
                </div>
                <div class="home-btn animated zoomIn">
                    <a class="btn btn-lg btn-general btn-white" href="/collections/all" role="button" title="View Our Work">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Home -->


{% schema %}
  {
    "name": "Home Section",
    "settings": [],
	"presets": [
      {
        "category": "Home Section",
        "name": "Home Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
